
<section class="contacts" id="contacts">
  <div class="mbox">
    <div class="contacts-wrap">
      <div class="contacts-left">
        <h2>КОНТАКТЫ</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="email-item">
          <span>e-mail:</span>
          <a href="#">sale.manager@adagency.com</a>
        </div>
        <div class="email-item">
          <span>e-mail:</span>
          <a href="">sale.manager@adagency.com</a>
        </div>
      </div>
      <div class="contacts-right">
        <form class="form" action="ajax-programer.php">
          <div class="inputs-wrap">
            <div class="form-field name-field">
              <input type="text" name="contact_name" placeholder="Имя" required />
            </div>
            <div class="form-field email-field">
              <input type="email" name="contact_email" placeholder="Почта" required />
            </div>
          </div>
          <div class="textarea-field">
            <textarea name="contact-message" placeholder="Ваше сообщение" required></textarea>
          </div>
          <button type="submit">ОТПРАВИТЬ</button>
        </form>
      </div>
    </div>
  </div>
</section>