<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="mbox">
    <div class="subscribe-wrap">
      <div class="subscribe-label">
        <span>Subscribe and get the latest news</span>
      </div>
      <div class="subscribe-reverse">
        <div class="footer-logo">
          <a href="index.html"><span>Ad</span>Agency</a>
        </div>
        <div class="subscribe-field">
          <form id="subscribe">
            <input type="email" name="subscribe" placeholder="Your E-mail Adress" />
            <button type="submit"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script type="text/javascript" src="js/seo.js?1477317409854" ></script>
<script type="text/javascript" src="js/dev.js?1477315545840" ></script>
<script type="text/javascript" src="js/mark.js?1477311237801" ></script>
<script type="text/javascript" src="js/rocket.js?1477318669746" ></script>
<script type="text/javascript" src="js/idea_.js?1477318346845" ></script>
<script type="text/javascript" src="js/first.js?1477318970564" ></script>

<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<script type="text/javascript" src="js/develop/develop_7.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
