<!-- HEADER -->
<header class="header ">
  <div class="mbox">
    <div class="header-wrap">
      <div class="logo">
        <a href="index.html"><span>Ad</span>Agency</a>
      </div>
      <nav>
        <div class="burger">
          <div class="burger-brick"></div>
          <div class="burger-brick middle"></div>
          <div class="burger-brick"></div>
        </div>
        <ul class="main-menu header-menu">
          <li>
            <p><span>Ad</span>Agency</p>
            <a class="close" href="#"></a>
          </li>
          <li>
            <a href="#about-us">О нас</a>
          </li>
          <li>
            <a href="#block3">Услуги</a>
          </li>
          <li>
            <a href="#vacancy">Вакансии</a>
          </li>
          <li>
            <a href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-bottom">
      <span>advertising agency</span>
      <h1>AdAgency</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button" href="#" data-href="#contacts">BUTTON</a>
      <a class="button-scroll" href="#about-us"></a>
    </div>
  </div>
</header>
<!-- /HEADER -->

